$main-color1: #00C618;
$main-color2: #259433;

$blue-color1: #006561;

$text-color: #222222;
$text-color-gray: #888888;
$background-color: #f3f3f3;
$white-text-color: #f5f5f5;

$orange-main: #FF7100;
$orange-secondary: #BF6F30;
$orange-dark: #A64A00;
$orange-bright: #FF9540;
$orange-light: #FFB173;

$blue-link: #2196F3;
$blue-link-darker: #1976D2;
$blue-link-visited: #4083B6;


$new-lesson-color: #00C618;
$active-lesson-color: #2196F3;
$deleted-lesson-color: #A64A00;
$finished-lesson-color: #888888;